<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>The Movie Planet Shop</title>

</head>
<body>
<h1>Shopping cart</h1>
<table>
    <tr>
        <th>Title</th>
        <th>No items</th>
        <th>Price</th>
        <th>Sum</th>

    </tr>
    <tr th:each="item : ${mycart}">
        <th th:text="${item.title}"></th>
        <th>Antal</th>
        <th th:text="${item.price}"></th>
        <th th:text="${ + 'Sum' + }"></th>
    </tr>


</table>

</body>
</html>