<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Movies</title>
</head>
<body>
<h1>Movies</h1>
<table>
    <tr>
        <th>MovieID</th>
        <th>Title</th>
        <th>Created year</th>
        <th>Genre</th>
        <th>Price</th>
    </tr>
    <tr th:each="movie : ${movies}">
        <th style="float:left;" th:text="${movie.tId}"></th>
        <th><a th:href="'https://www.imdb.com/title/' + ${movie.tId}" target="_top" th:text="${movie.title}"></a></th>
        <th th:text="${movie.date}"></th>
        <th th:text="${movie.genres}"></th>
        <th th:text="${movie.price}"></th>
    </tr>
</table>
<div>
        <span th:if="${showPrev}">
            <a th:href="'/?page=' + ${currentPage-1}" th:text="Previous"></a>
        </span>

    <span th:each="page : ${pages}">
        <span th:if="${currentPage == page}" th:text="${page}"></span>
        <a th:if="${currentPage != page}" th:href="'/?page=' + ${page}" th:text="${page}"></a>
    </span>

    <span th:if="${showNext}">
            <a th:href="'/?page=' + ${currentPage+1}" th:text="Next"></a>
        </span>
</div>
</body>
</html>