<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="stylesheet.css">

</head>
<body>

<div class="checkout-panel">
    <div class="panel-body">
        <h2 class="title">Thank you for your order!</h2>

        <div class="progress-bar">
            <div class="step active"></div>
            <div class="step active"></div>
            <div class="step"></div>
            <div class="step"></div>
        </div>

        <table class="order-information">
            <tr>
                <td>
                    <p>We will handle and send your order as soon as possible.</p>
                    <p>Please note that delivery times for certain order items may be affected by ongoing Covid-19 virus.</p>
                </td>
            </tr>
        </table>


        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td width="75%" align="left" bgcolor="#eeeeee" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;"> Order Confirmation # </td>
                <td width="25%" align="left" bgcolor="#eeeeee" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;"> 2345678 </td>
            </tr>
            <tr>
                <td width="75%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;"> Purchased Item (1) </td>
                <td width="25%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;"> $100.00 </td>
            </tr>
            <tr>
                <td width="75%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;"> Shipping - Postnord MyPack Home </td>
                <td width="25%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;"> $10.00 </td>
            </tr>
            <tr>
                <td width="75%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;"> Sales Tax </td>
                <td width="25%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;"> $5.00 </td>
            </tr>
        </table>

        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td width="75%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px; border-top: 3px solid #eeeeee; border-bottom: 3px solid #eeeeee;"> TOTAL </td>
                <td width="25%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px; border-top: 3px solid #eeeeee; border-bottom: 3px solid #eeeeee;"> $115.00 </td>
            </tr>
        </table>

        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
            <tr>
                <td align="left" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;">
                    <p style="font-weight: 800;">Delivery Address</p>
                    <p>123 Stockholmsvägen<br>1st Floor<br>Stockholm, SE 12345</p>
                </td>
            </tr>
        </table>

        <div style="display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;">
        <table align="right" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
            <tr>
                <td align="left" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;">
                    <p style="font-weight: 800;">Estimated Delivery Date</p>
                    <p>November 20th, 2020</p>
                </td>
            </tr>
        </table>
        </div>

    </div>

    <div class="panel-footer">
        <button class="btn return-btn">Return to home page</button>
    </div>
    </div>
</body>
</html>